<!--  <label type="text">Редактор игр</label>-->
<div flex-wrap="nowrap">
  <select class="custom-select" [ngModel]="gameId" (ngModelChange)="onSelectGame($event)">
    <option [value]="0">Добавить игру</option>
    <ng-container *ngFor="let game of games">
      <option [value]="game.id">{{game.date}} | {{game.name}}</option>
    </ng-container>
  </select>
  <hr>

  <form *ngIf="game" [formGroup]="formGame">
    <div class="form-group">
      <legend class="mt-6">{{game.name}}</legend>

        <label type="text">Название игры</label>
        <input name="name" formControlName="name"  class="form-control" type="text" placeholder="Введите название игры">
    </div>

      <div class="form-row pl-1 mb-2 d-flex align-items-baseline">
        <label class="col-12" type="text">Дата</label>
        <app-date-form [value]="dateValue" (takeDate)="onTakeDate($event)"></app-date-form>
      </div>

  </form>

  <div *ngIf="game">
    <fieldset class="dex-protocol-scroll mt-5">
      <div class="dex-grid">
        <div>Команды</div>
        <div class="center">1</div>
        <div class="center">2</div>
        <div class="center">3</div>
        <div class="center">4</div>
        <div class="center">5</div>
        <div class="center">6</div>
        <div class="center">7</div>
        <div class="center">8</div>
        <div class="center">9</div>
        <div class="center">R</div>
      </div>
      <hr>
      <!--        Строка гостей-->
      <div class="dex-grid">
        <ng-container *ngIf="teamVisitor">
          <select class="custom-select" [ngModel]="teamVisitor.id" (ngModelChange)="onSelectTeam($event,1)">
            <option [value]="0">Выбрать команду</option>
            <ng-container *ngFor="let item of teams">
              <option [value]="item.id">{{item.name}}</option>
            </ng-container>
          </select>
        </ng-container>

        <ng-container [formGroup]="formGame">
          <ng-container *ngFor="let control of visitorInningsControls.controls; let index= index">
            <div><input [name]="'visitor' + index" [formControl]="control"  class="form-control" type="number"></div>
          </ng-container>
        </ng-container>
        <div [formGroup]="formGame"><input formControlName="visitor_sum_runs" class="form-control" type="number"></div>
      </div>
      <!--        Строка хозяев-->
      <div class="dex-grid mb-3">
        <ng-container *ngIf="teamHost">
          <select class="custom-select" [ngModel]="teamHost.id" (ngModelChange)="onSelectTeam($event,0)">
            <option [value]="0">Выбрать команду</option>
            <ng-container *ngFor="let item of teams">
              <option [value]="item.id">{{item.name}}</option>
            </ng-container>
          </select>
        </ng-container>

        <ng-container *ngIf="hostInningsControls" [formGroup]="formGame">
          <ng-container *ngFor="let control of hostInningsControls.controls; let index= index">
            <div><input [name]="'host' + index" [formControl]="control"  class="form-control" type="number"></div>
          </ng-container>
        </ng-container>
        <div [formGroup]="formGame"><input formControlName="host_sum_runs" class="form-control" type="number"></div>
      </div>

    </fieldset>

    <button class="btn mt-3 btn-primary" (click)="onSaveGame()">Сохранить</button>
    <button type="button" class="btn btn-danger ml-3 mt-3" (click)="onDeleteGame(game.id)">Удалить игру</button>
  </div>




</div>
