<!--<div class="nav">-->
<!--  <a class="nav-link" data-toggle="tab" role="tab" href="#stats">Общая статистика команды</a>-->
<!--</div>-->


<!--<div class="tab-content" id="myTabContent">-->
<!--  <div class="tab-pane" id="stats">-->


<div class="table-responsive">
  <h4 class="mt-3 ml-2">Статистика за {{this.yearStat === 'all' ? 'все сезоны' : this.yearStat + ' сезон'}}</h4>
<!--  <h4 class="mt-3 ml-2">-->
<!--    {{this.activatedRoute.snapshot.params.year === 'all' ? 'Статистика за все сезоны'-->
<!--    : 'Статистика за ' + this.yearStat + ' сезон'}}</h4>-->
  <hr>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Игрок</th>
      <th>G</th>
      <th>PA</th>
      <th>AB</th>
      <th>AVG</th>
      <th>OBP</th>
      <th>R</th>
      <th>RBI</th>
      <th>BB</th>
      <th>HBP</th>
      <th>1B</th>
      <th>2B</th>
      <th>3B</th>
      <th>SO</th>
      <th>GO</th>
      <th>FO</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let player of players">
      <tr>
        <td><a [routerLink]="'/profile/' + player.id">{{player.name}}</a></td>
        <td>кол-во игр!</td>
        <td>{{player.pa}}</td>
        <td>{{player.ab}}</td>
        <td>{{player.avg}}</td>
        <td>{{player.obp}}</td>
        <td>{{player.run}}</td>
        <td>{{player.rbi}}</td>
        <td>{{player.bb}}</td>
        <td>{{player.hbp}}</td>
        <td>{{player.one_b}}</td>
        <td>{{player.two_b}}</td>
        <td>{{player.three_b}}</td>
        <td>{{player.so}}</td>
        <td>{{player.go}}</td>
        <td>{{player.fo}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

<!--  </div>-->
<!--</div>-->
