<!--  <label type="text">Редактор игроков</label>-->
<select [ngModel]="playerId" (ngModelChange)="onSelectPlayer($event)" class="custom-select">
  <option [value]="0">Добавить игрока</option>
  <ng-container *ngFor="let player of players">
    <option [value]="player.id">{{player.name}}</option>
  </ng-container>
</select>
<hr>


<form *ngIf="player" [formGroup]="formPlayer" (ngSubmit)="onSavePlayer()">
  <div class="form-group">
    <legend class="mt-3">{{player.name}}</legend>


    <div class="form-row pl-1 mb-2 d-flex align-items-baseline">
      <label class="mr-2" type="text">Имя игрока</label>
      <input class="form-control" formControlName="name" type="text" placeholder="Введите Ф.И. игрока">
    </div>

    <div class="form-row pl-1 mb-2 d-flex align-items-baseline">
      <label class="mr-2" type="number">Игровой номер</label>
      <input class="form-control" formControlName="game_number" type="text" placeholder="Введите игровой номер игрока">
    </div>

    <div class="form-row pl-1 mb-2 d-flex align-items-baseline">
      <label class="mr-2" type="text">На бите</label>
      <select class="custom-select" formControlName="bat">
        <option>Правобьющий</option>
        <option>Левобьющий</option>
      </select>
    </div>

    <div class="form-row pl-1 mb-2 d-flex align-items-baseline">
      <label class="mr-2" type="text">Бросковая рука</label>
      <select class="custom-select" formControlName="throw">
        <option>Правая</option>
        <option>Левая</option>
      </select>
    </div>

    <div *ngIf="position" class="">
      <label class="mr-2">Позиции игрока</label>
      <div class="row">
        <div class="custom-control custom-checkbox ml-3 mb-3">
          <input [checked]="position['pitcher'] === 1" (click)="onPositionSwitch('pitcher')"
                 class="custom-control-input" id="pitcher"
                 type="checkbox">
          <label class="custom-control-label" for="pitcher">P</label>
        </div>
        <div class="custom-control custom-checkbox ml-3 mb-3">
          <input [checked]="position['catcher'] === 1" (click)="onPositionSwitch('catcher')"
                 class="custom-control-input" id="catcher"
                 type="checkbox">
          <label class="custom-control-label" for="catcher">C</label>
        </div>
        <div class="custom-control custom-checkbox ml-3 mb-3">
          <input [checked]="position['firstBase'] === 1" (click)="onPositionSwitch('firstBase')"
                 class="custom-control-input" id="first_base"
                 type="checkbox">
          <label class="custom-control-label" for="first_base">1B</label>
        </div>
        <div class="custom-control custom-checkbox ml-3 mb-3">
          <input [checked]="position['secondBase'] === 1" (click)="onPositionSwitch('secondBase')"
                 class="custom-control-input" id="second_base" type="checkbox">
          <label class="custom-control-label" for="second_base">2B</label>
        </div>
        <div class="custom-control custom-checkbox ml-3 mb-3">
          <input [checked]="position['thirdBase'] === 1" (click)="onPositionSwitch('thirdBase')"
                 class="custom-control-input" id="third_base"
                 type="checkbox">
          <label class="custom-control-label" for="third_base">3B</label>
        </div>
        <div class="custom-control custom-checkbox ml-3 mb-3">
          <input [checked]="position['shortStop'] === 1" (click)="onPositionSwitch('shortStop')"
                 class="custom-control-input" id="shortstop"
                 type="checkbox">
          <label class="custom-control-label" for="shortstop">SS</label>
        </div>
        <div class="custom-control custom-checkbox ml-3 mb-3">
          <input [checked]="position['leftField'] === 1" (click)="onPositionSwitch('leftField')"
                 class="custom-control-input" id="left_field"
                 type="checkbox">
          <label class="custom-control-label" for="left_field">LF</label>
        </div>
        <div class="custom-control custom-checkbox ml-3 mb-3">
          <input [checked]="position['centralField'] === 1" (click)="onPositionSwitch('centralField')"
                 class="custom-control-input" id="central_field" type="checkbox">
          <label class="custom-control-label" for="central_field">CF</label>
        </div>
        <div class="custom-control custom-checkbox ml-3 mb-3">
          <input [checked]="position['rightField'] === 1" (click)="onPositionSwitch('rightField')"
                 class="custom-control-input" id="right_field" type="checkbox">
          <label class="custom-control-label" for="right_field">RF</label>
        </div>
      </div>
    </div>

    <div class="form-row pl-1 mb-2 d-flex align-items-baseline">
      <label class="mr-2 mt-3" type="text">Права доступа</label>
      <select class="custom-select" formControlName="role">
        <option>Пользователь</option>
        <option>Администратор</option>
        <option>Редактор</option>
      </select>
    </div>


    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Задать логин/пароль
    </button>

    <div class="form-row pl-1 mb-2 d-flex align-items-baseline">
      <label for="validationDefaultUsername" class="form-label mr-2">Логин</label>
      <input id="validationDefaultUsername" [checked]="formPlayer.value.role === 'Администратор' || formPlayer.value.role === 'Редактор'"
             class="form-control" formControlName="login" type="text" placeholder="Введите логин" aria-describedby="inputGroupPrepend2"
             required>
    </div>

    <div class="form-row pl-1 mb-2 d-flex align-items-baseline">
      <label class="mr-2">Пароль</label>
      <input [checked]="formPlayer.value.role === 'Администратор' || formPlayer.value.role === 'Редактор'"
             class="form-control" formControlName="password" type="password" placeholder="Введите пароль" required>
    </div>

    <button class="btn btn-primary mt-3" type="submit" data-bs-toggle="modal" data-bs-target="#errorlogin">Сохранить</button>
    <button class="btn btn-danger ml-3 mt-3" (click)="onDeletePlayer(player.id)">Удалить игрока
    </button>

  </div>
</form>
